.team-details {
  padding: 20px;

  .details {
    &__back {
      color: #1995ad;
    }
    &__title {
      margin-top: 60px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      margin-bottom: 0;
      padding-bottom: 8px;
      color: #1995ad;
      font-weight: 500;
    }
    &__location {
      margin-top: 0;
      margin-bottom: 40px;
      color: #a1d6e2;
    }
  }
  .stats {
    &__title {
      margin: 0;
      font-weight: 400;
      letter-spacing: 1px;
      padding-top: 15px;
      padding-bottom: 10px;
    }
    &__left {
      border-bottom: 1px solid #bcbabe;
    }
    &__single-stat {
      color: #706f72;
      margin: 0;
      padding-bottom: 6px;
      &:last-of-type {
        padding-bottom: 15px;
      }
    }
  }
  @media only screen and (min-width: 768px) {
    padding: 2.5vw 5vw;

    .details__stats {
      display: flex;
      justify-content: space-around;
    }
    .stats__left {
      border-bottom: none;
    }
  }
}
