.team-list {
  background-color: #a1d6e2;
  padding: 20px;
  .list {
    &__title {
      text-transform: uppercase;
      letter-spacing: 1.5px;
      margin: 0;
      padding: 0 0 20px 40px;
      border-bottom: 1px solid #bcbabe;
      color: #f1f1f2;
    }
  }
}
